In [ ]:
# Opgave 3

In [ ]:
## Opgave 3.1

In [ ]:
For at løse opgave 3.1 har vi lavet to queries, en med og uden INNER JOIN. Vi gemmer vores sraped_at dato´er som Dates så vi kan bruge >= oprationen til at finde de artikler som er
blevet scrapet efter 15. Jan 2018. Derefter finder vi kun de artikler som har type_id = 4, dette er for kun finde artikler som er 'reliable'.

In [ ]:
SELECT domain_name.domain_name FROM domain_name
WHERE domain_id in (SELECT article.domain_id FROM article
WHERE article.type_id = '4' and scraped_at >= '2018-01-15')

In [ ]:
Eller

In [ ]:
SELECT DISTINCT domain_name.domain_name FROM domain_name
INNER JOIN article
ON article.domain_id = domain_name.domain_id
WHERE article.type_id = '4' and scraped_at >= '2018-01-15'

In [ ]:
## Opgave 3.2

In [ ]:
Med denne query finder vi den author med flest fake new artikler. Dette gør vi ved at sortere fra størst til mindst og derefter sætter en limit på en hvilket kun giver det største
element. Hvis der er 2 authros som har skrevet lige mange fake news artikler vil den stadig kun give en author.

In [ ]:
SELECT COUNT(author_in.authorid), author.authorname
FROM author_in
INNER JOIN author
ON author.authorid = author_in.authorid
WHERE author_in.id in (SELECT article.id FROM article WHERE article.type_id = 1)
GROUP BY author_in.authorid, author.authorname
ORDER BY COUNT(author_in.authorid) DESC
LIMIT 1

In [ ]:
## Opgave 3.3

In [ ]:
Måden vi har talt par på er ved at sige hvis 3 artikler (a, b, c) har de samme meta_tags så laver det parene (a, b) og (a, c) og vi tæller ikke (b, c) med 
fordi det kan man antage med de andre par. Så antallet af par er Count(*) - 1 som kan ses på linje 2
Måden den virker på er ved at den kollapser alle metatags med artiklerne så meta_tagsene bliver gemt som en liste istedet for flere forskellige rows. Dette gør vi med aggrations
funktionen 'array_agg'. Derefter kollapser vi alle artikel id´erne som har den samme liste af meta_tags, med samme 'array_agg' og hvis længden af listen er mere end 1
er der 1 eller flere par. Tilsidst tager vi summen af alle parene hvilket giver det totale antal par artikler som har de samme meta_tags.

In [ ]:
SELECT sum(pairAmount)
FROM (SELECT count(*) - 1 as pairAmount
	FROM (SELECT id, array_agg(meta_keywords.meta_keyword) AS Meta_Keyword_ids
			FROM meta_keywords_in
			INNER JOIN meta_keywords
			ON meta_keywords.meta_keyword_id = meta_keywords_in.meta_keyword_id
			WHERE meta_keywords.meta_keyword_id != '137'
			GROUP BY meta_keywords_in.id
		 ) meta_keywords_in
	GROUP BY Meta_Keyword_ids
	HAVING count(*) > 1) AS counter